header {
  background: #000 !important;
  padding: 20px 0px;
}

body {
  background: #000;
  background: url("./images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-text {
  font-size: 120px !important;
}

.logo-text {
  color: white;
}

.logo-text-2 {
  color: #3766ff;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #3766ff;
}

.nav-link.active {
  font-weight: bold;
  color: #3766ff;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 60px !important;
  padding: 30px 0;
  letter-spacing: 20px;
  line-height: 1 !important;
  word-break: break-word;
  opacity: 0.8;
}

h3 {
  font-size: 30px !important;
}

.sections-container {
  width: 80%;
  align-content: center;
  margin: 0px auto;
}

section {
  /* background: rgba(212, 212, 212, 0.856) !important; */
  background: none !important;
  opacity: 0.9;
  padding: 80px;
  width: 100%;
  min-height: 80vh;
  margin: 20px auto;  
  border-radius: 30px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

section.section-top {
  /* border-radius: 30px 30px 0 0; */
}
section.section-mid {
  /* border-radius: 0px; */
}
section.section-bottom {
  /* border-radius: 0px 0px 30px 30px; */
}

.section-1 {
  /* background: url("./images/bg-section-1.png") !important; */
}

.section-2 {
  background: url("./images/bg-section-2.png") !important;
}

.section-3 {
  /* background: url("./images/bg-section-2.png") !important; */
}

.section-4 {
  /* background: url("./images/bg-section-2.png") !important; */
}

.section-5 {
  background: url("./images/bg-section-5.png") !important;
}

.color-dot {
  color: #3d40f8;
}

.bg-blue-500 {
  background: #3d40f8;
}

.bg-blue-500:hover {
  background: #2123a3;
}

.skill {
  background: rgb(23, 23, 23);
  color: white;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
}

.skill:hover {
  background: rgb(34, 34, 34);
}

.project {
  background: #202020bb;
  color: white !important;
  cursor: pointer;
}

.contact-section {
  align-content: center;
}

.contact-section .email a {
  color: white;
  font-size: 30px;
}

.contact-section .phone a {
  color: rgb(198, 198, 198);
  font-size: 30px;
}

footer {
  background: none;
  padding: 100px 0px !important;
}